:root {
    --light_blue: rgb(181, 198, 255);
    --white: #f5f9ff;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Raleway', Sans-Serif;
}

main {
    overflow: hidden;
}

/*-- Navbar --*/

header {
    position: fixed;
    width: 100%;
    background: rgb(181 198 255);
    z-index: 1;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.menu { 
    width: 80%;
    margin: 0 auto;
}

.menu img {
    width: 80px;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 65px;
    padding-top: 40px;

    position: relative;
}

nav ul > li > a {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav ul > li > a:hover {
    font-weight: bold;
}

nav ul > li > a::before {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--white);
    position: absolute;
    top: 60px;
    width: 0%;
    transition: all ease-in-out 200ms;
}

nav a:hover::before {
    width: 100%;
}

/*-- End of navbar --*/

/*-- Main Content --*/
/* .baner {
    padding-top: 100px;
    background-image: url(./img/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr) .25fr;
}

.hero_baner {
    grid-area: 2 / 2 / 2 / 6;
    background-color: aquamarine;
} */

.bg_image {
    background-image: url(./img/hero_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(35%) blur(4px);
    transform: scale(1.1);
    height: 100vh;
}

.bg_text {
    display: flex;
    background-color: rgb(0, 0, 0);
    background-color: rgba(181, 198, 255, 0.75);
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 350px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto 0;
    border-radius: 30px;
}

.bg_text h1 {
    color: var(--white);
    margin: 0;
    padding: 50px 50px 0px 50px;
    font-size: 2.75rem;
    text-align: center;
}

.bg_text p {
    color: var(--white);
    padding-bottom: 62px;
    font-size: 16px;
}

.bg_text h1 > span { 
    color: rgb(70 63 87);
}
/* Font-Family: 'Raleway', Sans-Serif;
Font-Size: 44px;
Font-Family: 'Open Sans', Sans-Serif;
Font-Size: 15px; */